@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.mainbox {
    background-image: url('../../assets/images/not-found.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.err {
    color: yellow;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: yellow;
}

.err2 {
    color: yellow;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    color: fuchsia;
    font-size: 3em;
}

a {
    text-decoration: none;
    color: yellow;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

@media all and (max-width:991.98px) {
    .msg {
        font-size: 2.5em;
    }
    .err, .err2 {
        font-size: 10em;
    }
    .far {
        font-size: 7.5em;
    }
}

@media all and (max-width:767.98px) {
    .msg {
        font-size: 2em;
    }
    .err, .err2 {
        font-size: 9em;
    }
    .far {
        font-size: 6.5em;
    }
}

@media all and (max-width:575.98px) {
    .msg {
        font-size: 1.5em;
    }
    .err, .err2 {
        font-size: 8em;
    }
    .far {
        font-size: 5.5em;
    }
}

@media all and (max-width:499.98px) {
    .msg {
        font-size: 1.3em;
    }
    .err, .err2 {
        font-size: 7em;
    }
    .far {
        font-size: 4.5em;
    }
}

@media all and (max-width:399.98px) {
    .msg {
        font-size: 1.1em;
    }
    .err, .err2 {
        font-size: 6.5em;
    }
    .far {
        font-size: 4em;
    }
}