@import url('./responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Josefin+Slab:wght@600&display=swap');
.container {
    min-height: 79.7vh;
    background-image: url('../../../assets/images/home.jpg');
    background-size: cover;
    padding: 8px 0;
}

.home {
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    min-height: 74.5vh;
    width: 90%;
    margin: auto;
}

.home h3 {
    background-color: bisque;
    border-radius: 0.3em;
    width: 100%;
    padding: 0.3em 1em;
    color: darkred;
    font-size: 16px;
}

.home p {
    padding: 0.3em;
    color: burlywood;
    font-family: 'Felipa', cursive;
    font-size: 19px;
}

.home p.title {
    font-size: 23px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.home p.first {
    padding-bottom: 0;
}

.home p.second {
    padding-top: 0;
    border-bottom: 1px solid #999;
}

.home a {
    color: white;
    text-decoration: none;
    background-color: #4ebced;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
    font-size: 12px;
}

.home a:hover {
    cursor: pointer;
}

.home ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.home ul li p {
    color: snow;
    padding: 0;
}

.home li {
    list-style: none;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85%;
}