/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.todo-task .item, .todo-task .textarea {
    color: maroon;
}

.inProgress-task .item, .inProgress-task .textarea {
    color: darkslateblue;
}

.done-task .item, .done-task .textarea {
    color: darkgreen;
}

@media all and (max-width:3399.98px) {
    .content-wrapper .container-wrapper .container {
        width: 400px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 350px;
    }
}

@media all and (max-width:1399.98px) {
    .content-wrapper .container-wrapper .container {
        width: 350px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 300px;
    }
}

@media all and (max-width:1199.98px) {
    .content-wrapper .container-wrapper .container {
        width: 300px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 260px;
    }
}

@media all and (max-width:991.98px) {
    .content-wrapper .container-wrapper .container {
        width: 250px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 210px;
    }
}

@media all and (max-width:767.98px) {
    .content-wrapper .container-wrapper .container {
        width: 185px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 145px;
    }
}

@media all and (max-width:575.98px) {
    .content-wrapper .container-wrapper .container {
        width: 150px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 110px;
    }
}

@media all and (max-width:499.98px) {
    .content-wrapper .container-wrapper .container {
        width: 100px;
    }
    .mat-typography h2, .mat-card> :last-child:not(.mat-card-footer) {
        font-size: 14px;
    }
    .list .item #textarea.textarea, .list .item #textarea-title.textarea {
        width: 60px;
        font-size: 9px;
    }
    .list .item .textarea-title {
        font-size: 12px;
    }
}