<div class="theme-container">
    <div class="theme-name-wrapper">
        <div class="theme-name">
            <a [routerLink]='["/theme/detail", task._id]' class="normal">
                <h2>{{task.title}}</h2>
            </a>
            <div class="columns">
                <div>
                    <p>Date: <time>{{task.created_at}}</time></p>
                    <div class="nick-name">
                        <p>Username: <span>{{task.creator.username}}</span></p>
                    </div>
                </div>
                <div class="subscribers">
                    <!-- <button class="subscribe">Subscribe</button> -->
                    <p>Subscribers: <span>{{task.subscribers.length}}</span></p>
                </div>
            </div>
        </div>
        <!-- <app-post-list [themeId]='theme._id'></app-post-list> -->
    </div>
</div>