/* :host {
    display: block;
} */

.item {
    margin-bottom: 10px;
}

.item:hover {
    cursor: pointer;
}

.item {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

@media all and (max-width:1399.98px) {
    .p339998 {
        display: none;
    }
}

@media all and (max-width:1199.98px) {}

@media all and (max-width:991.98px) {}

@media all and (max-width:767.98px) {
    .p-title {
        font-size: 14px;
    }
    .p {
        font-size: 12px;
    }
}

@media all and (max-width:575.98px) {
    .p-title {
        font-size: 12px;
    }
    .p {
        font-size: 10px;
    }
}

@media all and (max-width:499.98px) {
    .p-title {
        font-size: 10px;
    }
    .p {
        font-size: 8px;
    }
}