<ng-template #defaultMode>
    <div class="flex">
        <p>Username: </p>
        <p class="fill" *ngIf='!userWithUsernameAndTel?.displayName'>please fill in your details...</p>
        <p *ngIf='userWithUsernameAndTel?.displayName'>{{userWithUsernameAndTel?.displayName}}</p>
    </div>
    <div class="flex">
        <p>Alternate Email: </p>
        <p class="fill" *ngIf='!userWithUsernameAndTel?.alternateEmail'>please fill in your details...</p>
        <p *ngIf='userWithUsernameAndTel?.alternateEmail'>{{userWithUsernameAndTel?.alternateEmail}}</p>
    </div>
    <div class="flex">
        <p>Phone: </p>
        <p class="fill" *ngIf='!userWithUsernameAndTel?.phoneNumber'>+359 please fill in your details...</p>
        <p *ngIf='userWithUsernameAndTel?.phoneNumber'>+359 {{userWithUsernameAndTel?.phoneNumber}}</p>
    </div>
    <div class="flex">
        <p>Address: </p>
        <p class="fill" *ngIf='!userWithUsernameAndTel?.address'>please fill in your details...</p>
        <p *ngIf='userWithUsernameAndTel?.address'>{{userWithUsernameAndTel?.address}}</p>
    </div>
    <button class="edit-button" (click)='toggleEditMode()'>Edit</button>
</ng-template>

<app-header></app-header>
<ng-template #editMode>
    <form #f='ngForm' (ngSubmit)='submitHandler(f.value)'>
        <div class="flex">
            <p>Photo URL: </p>
            <input #photoURL='ngModel' [class.input-error]='photoURL.invalid' type="text" name="photoURL" id="photoURL"
                [ngModel]='userWithUsernameAndTel?.photoURL'>
        </div>
        <div class="flex">
            <p>Username: </p>
            <input #displayName='ngModel' [class.input-error]='displayName.invalid' type="text" name="displayName"
                id="displayName" [ngModel]='userWithUsernameAndTel?.displayName' required minlength='5'>
        </div>
        <p *ngIf='displayName.touched&&displayName.errors?.required' class="error">Username is required.</p>
        <p *ngIf='displayName.touched&&displayName.errors?.minlength' class="error">Username must be at least
            5characters
            long.</p>
        <div class="flex">
            <p>Alternate Email: </p>
            <input #alternateEmail='ngModel' [class.input-error]='alternateEmail.invalid' type="email"
                name="alternateEmail" id="alternateEmail" [ngModel]='userWithUsernameAndTel?.alternateEmail' required
                appEmailValidator>
        </div>
        <p *ngIf='alternateEmail.touched&&alternateEmail.errors?.required' class="error">Email is required.</p>
        <p *ngIf='alternateEmail.touched&&alternateEmail.errors?.regexNotMatch' class="error">Email is not valid!</p>
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                    <option value="00359">+369</option>
                    <option value="00359">+379</option>
                </select>
                <input type="text" name="phoneNumber" id="phoneNumber" [ngModel]='userWithUsernameAndTel?.phoneNumber'>
            </div>
        </div>
        <div class="flex">
            <p>Address: </p>
            <input #address='ngModel' [class.input-error]='address.invalid' type="text" name="address" id="address"
                [ngModel]='userWithUsernameAndTel?.address'>
        </div>
        <button class="green-button">Save</button>
        <button type="button" class="red-button" (click)='toggleEditMode()'>Cancel</button>
    </form>
</ng-template>

<div class="page">
    <div class="profile">
        <img *ngIf='!userWithUsernameAndTel.photoURL' src="assets/images/profile.png"
            alt="default userWithUsernameAndTel">
        <img *ngIf='userWithUsernameAndTel.photoURL' [src]="userWithUsernameAndTel.photoURL"
            alt="default userWithUsernameAndTel">
        <h3>User Info:</h3>
        <ng-container *ngTemplateOutlet='inEditMode?editMode:defaultMode'></ng-container>
        <app-loader [isLoading]='isLoading'></app-loader>
    </div>
</div>
<app-footer></app-footer>