<ng-template #defaultMode>
    <div class="flex">
        <p>Username: </p>
        <p>{{currentUser?.username}}</p>
    </div>
    <div class="flex">
        <p>Email: </p>
        <p>{{currentUser?.email}}</p>
    </div>
    <div class="flex">
        <p>Phone: </p>
        <p>+359 {{currentUser?.tel}}</p>
    </div>
    <button class="edit-button" (click)='toggleEditMode()'>Edit</button>
</ng-template>

<app-header></app-header>
<ng-template #editMode>
    <form #f='ngForm' (ngSubmit)='submitHandler(f.value)'>
        <div class="flex">
            <p>Username: </p>
            <input #username='ngModel' [class.input-error]='username.invalid' type="text" name="username" id="username"
                [ngModel]='currentUser?.username' required minlength='5'>
        </div>
        <p *ngIf='username.touched&&username.errors?.required' class="error">Username is required.</p>
        <p *ngIf='username.touched&&username.errors?.minlength' class="error">Username must be at least 5characters
            long.</p>
        <div class="flex">
            <p>Email: </p>
            <input #email='ngModel' [class.input-error]='email.invalid' type="email" name="email" id="email"
                [ngModel]='currentUser?.email' required appEmailValidator>
        </div>
        <p *ngIf='email.touched&&email.errors?.required' class="error">Email is required.</p>
        <p *ngIf='email.touched&&email.errors?.regexNotMatch' class="error">Email is not valid!</p>
        <div class="flex">
            <p>Phone: </p>
            <div>
                <select name="select-tel" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                    <option value="00359">+369</option>
                    <option value="00359">+379</option>
                </select>
                <input type="text" name="tel" id="tel" [ngModel]='currentUser?.tel'>
            </div>
        </div>
        <button class="green-button">Save</button>
        <button type="button" class="red-button" (click)='toggleEditMode()'>Cancel</button>
    </form>
</ng-template>

<div class="profile">
    <img src="assets/images/profile.png" alt="default user">
    <h3>User Info:</h3>
    <ng-container *ngTemplateOutlet='inEditMode?editMode:defaultMode'></ng-container>
    <app-loader [isLoading]='isLoading'></app-loader>
</div>
<app-footer></app-footer>