.task {
    height: 78.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 1em;
    border: 7px solid #497bca;
    border-radius: 3.3em;
    font-size: 1em;
    min-height: 65vh
}

.side-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-side, .right-side {
    flex-basis: 50%;
}

.property {
    font-weight: bold;
}

.description, .solution {
    align-self: flex-start;
}

div>p:nth-child(2) {
    margin-top: 1em;
}

@media all and (max-width:767.98px) {
    .side-wrapper {
        flex-direction: column;
        align-items: center;
    }
    div>p {
        margin-top: 1em;
    }
    .description, .solution {
        align-self: center;
    }
}

@media all and (max-width:499.98px) {
    .task-content {
        font-size: 0.8em;
    }
}