.toolbar {
    background-color: darkorange;
    color: darkslateblue;
}

.toolbar>span {
    margin-left: 10px;
}

.content-wrapper {
    margin: auto;
    background-color: khaki;
    padding-top: 20px;
    color: navy;
}

.container-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.list {
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 4px;
}

.title-todo {
    color: indianred;
}

.todo-list {
    background-color: indianred;
}

.title-inProgress {
    color: cadetblue;
}

.inProgress-list {
    background-color: cadetblue;
}

.title-done {
    color: lightgreen;
}

.done-list {
    background-color: lightgreen;
}

app-new-task {
    margin-bottom: 30px;
}

.empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms;
}