@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header {
    background: linear-gradient(0deg, rgb(182, 179, 0) 0%, rgb(40, 0, 182) 35%, rgb(255, 0, 84) 100%);
    position: sticky;
    top: 0;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}

header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
}

header a {
    color: white;
    cursor: pointer;
}

nav {
    border-top: 1px solid #00acf4;
    min-height: 25px;
}

.logo {
    font-size: 1.3em;
    color: white;
    padding-bottom: 0;
}

.logo-wrap {
    font-family: 'Texturina', serif;
    letter-spacing: .5em;
    margin: 0.5em 0;
}

p {
    padding: 0.3em 0 0.2em;
    margin: 0;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    min-height: 50px;
}

.mini-navbar ul {
    background-color: #008000;
    border-radius: 20px;
    border: 1px solid #00d4ff;
    padding-left: 0;
    width: 100%;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}

.image {
    width: 37px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

img {
    width: 100%;
    border-radius: 50%;
}

.navbar-picture {
    display: flex;
}

@media all and (max-width:991.98px) {
    .mini-navbar-wrap {
        width: auto;
        justify-content: space-around;
    }
}

@media all and (max-width:767.98px) {
    .logo {
        font-size: 22px;
        display: block;
    }
    .logo-wrap {
        margin: 0;
    }
    nav {
        font-size: 12px;
    }
    .mini-navbar ul li {
        padding: 2px;
        font-size: 14px;
    }
}

@media all and (max-width:499.98px) {
    .logo {
        font-size: 18px;
        display: block;
    }
    .logo-wrap {
        margin: 0;
    }
    .mini-navbar ul li {
        padding: 2px;
        font-size: 12px;
    }
}