@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Josefin+Slab:wght@600&display=swap');
.todo-task .item, .todo-task .textarea {
    color: maroon;
}

.inProgress-task .item, .inProgress-task .textarea {
    color: darkslateblue;
}

.done-task .item, .done-task .textarea {
    color: darkgreen;
}

.toolbar {
    background-color: darkorange;
    color: darkslateblue;
    justify-content: space-between;
}

.toolbar>span {
    margin-left: 10px;
}

.content-wrapper {
    margin: auto;
    background-color: khaki;
    padding-top: 20px;
    color: navy;
    height: 100%;
    min-height: 100vh;
}

.container-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.list {
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 12px;
    padding-bottom: 6px;
}

.title-todo {
    color: indianred;
}

.todo-list {
    background-color: indianred;
}

.title-inProgress {
    color: cadetblue;
}

.inProgress-list {
    background-color: cadetblue;
}

.title-done {
    color: lightgreen;
}

.done-list {
    background-color: lightgreen;
}

app-new-task {
    margin-bottom: 30px;
}

.empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
    padding-bottom: 26px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms;
}

.mini-navbar {
    margin-left: 5px;
}

.mini-navbar ul {
    display: flex;
    background-color: cornsilk;
    border-radius: 20px;
    border: 1px solid #00d4ff;
    font-size: 16px;
}

.mini-navbar ul li {
    padding: 5px 10px;
    text-decoration: none;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
}

.mini-navbar .old-task-ul {
    background-color: indigo;
}

.mini-navbar .old-task-ul:hover {
    background-color: lightseagreen;
}

.icon-old {
    display: flex;
}

.old-task-a {
    color: lightseagreen;
}

.old-task-a:hover {
    color: indigo;
}

.image {
    width: 37px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

img {
    width: 100%;
    border-radius: 50%;
}

.navbar-picture {
    display: flex;
}

.footer {
    background-color: khaki;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    text-align: end;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 22px;
    flex-grow: 1;
    padding-right: 20px;
}

.footer a {
    font-family: 'Felipa', cursive;
    font-size: 30px;
    text-decoration: underline;
    flex-grow: 1;
}

@media all and (max-width:3399.98px) {
    .content-wrapper .container-wrapper .container {
        width: 400px;
    }
}

@media all and (max-width:1399.98px) {
    .content-wrapper .container-wrapper .container {
        width: 350px;
    }
}

@media all and (max-width:1199.98px) {
    .content-wrapper .container-wrapper .container {
        width: 300px;
    }
}

@media all and (max-width:991.98px) {
    .content-wrapper .container-wrapper .container {
        width: 250px;
    }
}

@media all and (max-width:767.98px) {
    .content-wrapper .container-wrapper .container {
        width: 185px;
    }
    .toolbar .mini-navbar ul {
        font-size: 12px;
    }
    .toolbar .mini-navbar ul li {
        padding: 0 5px;
    }
    .toolbar .span {
        font-size: 16px;
    }
    .footer p {
        font-size: 16px;
    }
    .footer a {
        font-size: 20px;
    }
}

@media all and (max-width:575.98px) {
    .content-wrapper .container-wrapper .container {
        width: 150px;
    }
    .mat-toolbar {
        padding: 0;
        flex-direction: column;
        height: 90px;
        justify-content: space-evenly;
    }
    .footer p {
        font-size: 14px;
    }
    .footer a {
        font-size: 20px;
    }
}

@media all and (max-width:499.98px) {
    .content-wrapper .container-wrapper .container {
        width: 100px;
    }
    .container h2 {
        font-size: 14px;
    }
    .mini-navbar ul {
        margin-right: 10px;
    }
    .mini-navbar ul li {
        padding: 0px 5px;
        font-size: 14px;
    }
    .footer {
        flex-direction: column;
    }
    .footer p {
        padding: 15px 0 0 0;
    }
    .footer a {
        font-size: 18px;
        padding: 5px 0 15px 0;
    }
}