<div class="mat-typography">
    <mat-toolbar class="toolbar">
        <div>
            <mat-icon>local_fire_department</mat-icon>
            <span>Shtekata Kanban Board</span>
        </div>
        <div class="mini-navbar" *ngIf='user'>
            <ul class="old-task-ul">
                <li>
                    <a class="old-task-a" routerLink='/past-task'>Old Tasks</a>
                </li>
            </ul>
        </div>
        <div class="mini-navbar" *ngIf='!user'>
            <ul>
                <li>
                    <a routerLink='/user/login'>Login</a>
                </li>
                <li>
                    <a routerLink='/user/register'>Register</a>
                </li>
            </ul>
        </div>
        <div class="mini-navbar" *ngIf='user'>
            <ul>
                <li>
                    <a routerLink='/user/profile'>{{user?.email}}</a>
                </li>
                <li>
                    <a (click)='logoutHandler()'>Logout</a>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <!-- <app-task *ngFor='let task of todo' [task]='task'></app-task> -->
    <div class="content-wrapper">
        <button mat-button (click)='newTask()'>
            <mat-icon>add</mat-icon> Add Task
        </button>
        <div class="container-wrapper">
            <div class="container">
                <h2 class="title-todo">Backlog</h2>
                <mat-card class="list todo-list" cdkDropList id="todo" #todoList='cdkDropList'
                    [cdkDropListData]='todo|async' (cdkDropListDropped)='drop($event)'
                    [cdkDropListConnectedTo]='[inProgressList, doneList]'>
                    <p class="empty-label" *ngIf='(todo|async)?.length===0'>Empty list</p>
                    <app-task class="todo-task" cdkDrag *ngFor='let task of todo|async' [task]='task'
                        (edit)='edit("todo", $event)' [size]='size'>
                    </app-task>
                </mat-card>
            </div>
            <div class="container">
                <h2 class="title-inProgress">In Progress</h2>
                <mat-card class="list inProgress-list" cdkDropList id="inProgress" #inProgressList='cdkDropList'
                    [cdkDropListData]='inProgress|async' (cdkDropListDropped)='drop($event)'
                    [cdkDropListConnectedTo]='[todoList, doneList]'>
                    <p class="empty-label" *ngIf='(inProgress|async)?.length===0'>Empty list</p>
                    <app-task class="inProgress-task" cdkDrag *ngFor='let task of inProgress|async' [task]='task'
                        (edit)='edit("inProgress", $event)' [size]='size'>
                    </app-task>
                </mat-card>
            </div>
            <div class="container">
                <h2 class="title-done">Done</h2>
                <mat-card class="list done-list" cdkDropList id="done" #doneList='cdkDropList'
                    [cdkDropListData]='done|async' (cdkDropListDropped)='drop($event)'
                    [cdkDropListConnectedTo]='[todoList, inProgressList]'>
                    <p class="empty-label" *ngIf='(done|async)?.length===0'>Empty list</p>
                    <app-task class="done-task" cdkDrag *ngFor='let task of done|async' [task]='task'
                        (edit)='edit("done", $event)' [size]='size'>
                    </app-task>
                </mat-card>
            </div>
        </div>
    </div>
</div>