@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
footer {
    font-family: 'Texturina', serif;
    background: rgb(182, 179, 0);
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
    height: 65px;
    color: maroon;
    font-size: 17px;
    min-width: 100vw;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
}

footer span {
    font-size: 1.1em;
}

@media all and (max-width:575.98px) {
    footer {
        height: 55px;
    }
    footer p {
        font-size: 0.6em;
    }
    a {
        font-size: 10px;
    }
    footer span {
        font-size: 1.2em;
    }
}

@media all and (max-width:499.98px) {
    footer {
        height: 55px;
    }
    footer p {
        font-size: 0.6em;
    }
    a {
        font-size: 10px;
    }
    footer span {
        font-size: 0;
    }
}